/* email pwd input form*/
.bm-form {
	@extend .center-block;
    border-radius: 0;
    border-style: none;
    font-weight:300;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
    @include size(remify(301), remify(45));
	

	background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 2px;

   
}

/* removes blue glow*/
.form-control:focus{
	box-shadow: none;
	outline: none;
    outline-style: none;
}
