<!DOCTYPE html>
<html lang="en">
<style type="text/css">
 @font-face {
    font-family: 'phosphateinline';
    src: url('./fonts/phosphate-inline.eot');
    src: url('./fonts/phosphate-inline.eot?#iefix') format('embedded-opentype'),
         url('./fonts/phosphate-inline.woff2') format('woff2'),
         url('./fonts/phosphate-inline.woff') format('woff'),
         url('./fonts/phosphate-inline.ttf') format('truetype'),
         url('./fonts/phosphate-inline.svg#phosphateinline') format('svg');
    font-weight: normal;
    font-style: normal;

}
</style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Beamer</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink nav-space">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="/">Beamer</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
        </div>
    </header>

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-left">
                    <center><h2 class="section-heading">Terms of Use</h2></center>
                    
                        <h3>1. terms</h3>
                        <p>
                        By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
                        </p>

                        <h3>2. Use License</h3>
                        <p>
                        Permission is granted to temporarily download one copy of the materials (information or software) on Beamer's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
                        <ul class="font-roboto">
                            <li >modify or copy the materials;</li>
                            <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                            <li>attempt to decompile or reverse engineer any software contained on Beamer's web site;</li>
                            <li>remove any copyright or other proprietary notations from the materials; or</li>
                            <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                        </ul>
                        <p>
                        This license shall automatically terminate if you violate any of these restrictions and may be terminated by Beamer at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>
                        </p>

                        <h3>3. Disclaimer</h3>
                        <p>
                        The materials on Beamer's web site are provided "as is". Beamer makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Beamer does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
                        
                        <h3>4. Limitations</h3>
                        <p>
                        In no event shall Beamer or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Beamer's Internet site, even if Beamer or a Beamer authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

                        <h3>5. Revisions and Errata</h3>
                        <p>
                        The materials appearing on Beamer's web site could include technical, typographical, or photographic errors. Beamer does not warrant that any of the materials on its web site are accurate, complete, or current. Beamer may make changes to the materials contained on its web site at any time without notice. Beamer does not, however, make any commitment to update the materials.</p>

                        <h3>6. Links</h3>
                        <p>
                        Beamer has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Beamer of the site. Use of any such linked web site is at the user's own risk.</p>

                        <h3>7. Site Terms of Use Modifications</h3>
                        <p>
                        Beamer may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
                        </p>

                        <h3>8. Governing Law</h3>
                        <p>
                        Any claim relating to Beamer's web site shall be governed by the laws of the State of California without regard to its conflict of law provisions.</p>
                    </p>
                </div>
            </div>
        </div>
	</section>
   

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Beamer 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://angel.co/beamer-1" target="_blank"><i class="fa fa-angellist"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/beamer" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="/privacy-policy.html">Privacy Policy</a>
                        </li>
                        <li><a href="/terms-of-use.html">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
