<!-- signup 
<form novalidate name="signupForm">
    <input type="text" ng-model="user.newEmail" placeholder="email" required/>
    <input type="text" ng-model="user.pwd1" name='uPwd' placeholder="password" required ng-minlength="6" ng-maxlength="40" />
    <input type="text" ng-model="user.pwd2" required placeholder="confirm password" ng-minlength="6" ng-maxlength="40" />
    <button ng-disabled="signupForm.$invalid" ng-click="signup()">sign up</button>
    <span ng-show="signupForm.uPwd.$error.minlength">password less than 6 chars.</span>
    <span ng-show="signupForm.uPwd.$error.maxlength">password longer than 40 chars.</span>
    <br>
    <br>
</form>-->
<!-- login form 
<form novalidate name="loginForm">
    <input type="text" ng-model="user.email" placeholder="email" required/>
    <input type="text" ng-model="user.pwd" name='pwd' placeholder="password" required/>
    <button ng-disabled="loginForm.$invalid" ng-click="login()">login</button>
    <p class="error" ng-show="error">{{error}}</p>
</form>-->
<div class="container bg">
    <!-- LOGO -->
    <div class="row">
        <div class="col-xs-12 bm-logo-img">
            <center>
                <img class="img-responsive" src="../../assets/images/gun.png">
            </center>
        </div>
    </div>
    <!-- FORM -->
    <form novalidate name="loginForm">
        <div class="row bm-form-top-buffer">
            <div class="col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4">
                <!-- ERROR -->
                <p class="bm-login-error" ng-show="error">{{error}}</p>
                <!-- INPUTS -->
                <input type="email" ng-model="user.email" placeholder="email" class="form-control bm-form" required>
                <input type="password" ng-model="user.pwd" name='pwd' placeholder="password" class="form-control bm-form" required>
            </div>
        </div>
        <!-- BUTTON -->
        <div class="row">
            <div class="col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4">
                <button type="button" class="btn btn-default pull-left bm-ghost-btn">SIGN UP</button>
                <button type="button" ng-disabled="loginForm.$invalid" ng-click="login()" class="btn btn-default pull-right   bm-solid-btn">LOG IN</button>
            </div>
        </div>
    </form>
</div>
