$bg: "../assets/images/background.png";
$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

$pink: #D16982;
$dark-pink: darken($pink, 5%);
$purple: #6F6889;
$dark-purple: #262039;
$white: #FFFFFF;
$grey: #eeeeee;
