<div class="row">
    <!-- login -->
    <div id="login" class="container collapse">
        <!-- FORM -->
        <form novalidate name="loginForm">
            <div class="row">
                <!-- ERROR -->
                <p class="bm-login-error" ng-show="error">{{error}}</p>
                <!-- INPUTS -->
                <input type="email" ng-model="user.email" placeholder="email" class="form-control bm-form" required>
                <input type="password" ng-model="user.pwd" name='pwd' placeholder="password" class="form-control bm-form" required>
            </div>
            <!-- BUTTON -->
            <div class="row">
                <button type="button" data-toggle="collapse" data-target="#login" class="btn btn-default bm-ghost-btn" ng-click="showButt=true">Cancel</button>
                <button type="button" ng-disabled="loginForm.$invalid" ng-click="login()" class="btn btn-default bm-solid-btn">LOG IN</button>
            </div>
        </form>
    </div>
    <!-- signup -->
    <div id="signup" class="container collapse">
        <form novalidate name="signupForm">
            <div class="row">
                <!-- ERROR -->
                <p class="bm-login-error" ng-show="error">{{error}}</p>
                <!-- INPUTS -->
                <input type="email" ng-model="user.newEmail" placeholder="email" class="form-control bm-form" required/>
                <input type="password" ng-model="user.pwd1" name='uPwd' placeholder="password" class="form-control bm-form" required ng-minlength="6" ng-maxlength="40" />
                <input type="password" ng-model="user.pwd2" required placeholder="confirm password" class="form-control bm-form" ng-minlength="6" ng-maxlength="40" />
                <!-- BUTTONS -->
                <div class="btn-group">
                    <button type="button" data-toggle="collapse" data-target="#signup" class="btn btn-default bm-ghost-btn" ng-click="showButt=true">Cancel</button>
                    <button ng-disabled="signupForm.$invalid" ng-click="signup()" class="btn btn-default bm-solid-btn">SIGN UP</button>
                </div>
                <br>
                <!-- ERRORS -->
                <span ng-show="signupForm.uPwd.$error.minlength">password less than 6 chars.</span>
                <span ng-show="signupForm.uPwd.$error.maxlength">password longer than 40 chars.</span>
            </div>
        </form>
    </div>
    <!-- FORM TOGGLE BUTTONS -->
    <div class="row">
        <center>
            <div class="btn-group">
                <!-- buttons -->
                <button type="button" class="btn bm-ghost-btn" data-toggle="collapse" data-target="#signup" ng-show="showButt" ng-click="showButt=false">
                    Sign up</button>
                <button type="button" class="btn bm-solid-btn" data-toggle="collapse" data-target="#login" ng-show="showButt" ng-click="showButt=false">Log in</button>
                <!-- buttons -->
            </div>
        </center>
    </div>
</div>
