<div id="bm-sidebar-wrapper">
    <side-bar>
        <ul>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
        </ul>
    </side-bar>
    <!-- everything else -->
    <div class="bm-right-panel">
        <div class="container">
            <div class="row">
                <div style="display:flex; flex-direction:row; justify-content:flex-end">
                    lol
                    <img src="assets/images/profile_icon.svg ">
                </div>
            </div>
        </div>
    </div>
</div>
